{% extends 'default.html' %}

{% block content %}
    <h1>Bulletin Board</h1>

    {% if bulletins %}
        <table>
            <tr>
                <td>Дата</td>
                <td>Автор</td>
                <td>Категория</td>
                <td>Заголовок</td>
                {% if user.is_authenticated %}
                    <td></td>
                {% endif %}
            </tr>

            {% for bulletin in bulletins %}
                <tr>
                    <td>{{ bulletin.created_at|date:'d M y' }}</td>
                    <td>{{ bulletin.created_by }}</td>
                    <td>{{ bulletin.get_category_display }}</td>
                    <td>
                        <a href='{{ bulletin.id }}'>
                            {{ bulletin.title }}
                        </a>
                    </td>
                    {% if user.is_authenticated and bulletin.created_by == user %}
                        <td>
                            <a href="{% url 'update_bulletin' bulletin.id %}">
                                Редактировать
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Объявления пока не добавлены. Вы можете быть первым!</h2>
    {% endif %}
{% endblock %}