 <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
       <a class="navbar-brand" href="/">{% trans "News portal" %}</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/news">Home
                       {% if request.path == '/news/' %}
                           <span class="sr-only">(current)</span>
                       {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news/search/">Search
                       {% if request.path == '/news/search/' %}
                           <span class="sr-only">(current)</span>
                       {% endif %}
                    </a>
                </li>
                {% if perms.posts.add_post %}
                    <li class="nav-item">
                        <a class="nav-link" href="/news/create/">Create news
                           {% if request.path == '/news/create/' %}
                               <span class="sr-only">(current)</span>
                           {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="/article/create/">Create article
                           {% if request.path == '/article/create/' %}
                               <span class="sr-only">(current)</span>
                           {% endif %}
                       </a>

                   </li>
                {% endif %}
            </ul>

        </div>
        <h7 style="text-align: right; color: white;">{% current_time '%d %b %Y' %}</h7>
        {% if user.is_authenticated %}
{#                <p style="text-align: right; color: white; margin: 0 20px">{{ user }}</p>#}
{#                <a href="{% url 'account_logout' %}">Logout</a>#}
            {% include 'navbar.html' %}
        {% else %}
            <a style="text-align: right; margin: 0 20px" href="{% provider_login_url 'yandex' %}">Войти</a>
        {% endif %}

        <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
            <input type="hidden" name="next" value="{{ redirect_to }}">
            {% get_current_language as LANGUAGE_CODE %}
            <select name="language" id="">
                {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

                {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} - {{ language.code }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="set">
        </form>

    </div>
</nav>