 <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Bulletin board</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                       {% if request.path == '/' %}
                           <span class="sr-only">(current)</span>
                       {% endif %}
                    </a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="/news/search/">Search#}
{#                       {% if request.path == '/news/search/' %}#}
{#                           <span class="sr-only">(current)</span>#}
{#                       {% endif %}#}
{#                    </a>#}
{#                </li>#}
{#                {% if perms.posts.add_post %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="/news/create/">Create news#}
{#                           {% if request.path == '/news/create/' %}#}
{#                               <span class="sr-only">(current)</span>#}
{#                           {% endif %}#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                       <a class="nav-link" href="/article/create/">Create article#}
{#                           {% if request.path == '/article/create/' %}#}
{#                               <span class="sr-only">(current)</span>#}
{#                           {% endif %}#}
{#                       </a>#}
{#                   </li>#}
{#                {% endif %}#}
            </ul>

        </div>
        {% if user.is_authenticated %}
{#                <p style="text-align: right; color: white; margin: 0 20px">{{ user }}</p>#}
{#                <a href="{% url 'account_logout' %}">Logout</a>#}
            {% include 'navbar.html' %}
        {% else %}
            <a style="text-align: right; margin: 0 20px" href="{% url 'account_login' %}">Войти</a>
        {% endif %}
    </div>
</nav>